/* party Schedule */
.party-schedule {
  height: 374px;
  border-radius: 12.4px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  padding: 77.5px 299px 85.25px;
}
.party-schedule h3 {
  line-height: 43.4px;
  font-weight: 600;
  font-size: 24.8px;
}
.party-schedule h3 span {
  color: var(--primary-color);
}
.party-schedule-btn {
  background: var(--primary-color);
  border-radius: 6.2px;
  margin-top: 37.2px;
  border: none;
  color: #ffffff;
  font-size: 15.5px;
  font-weight: 700;
  line-height: 18.6px;
  padding: 12.4px 24.8px;
  text-align: center;
}
