/* party section */
.party-section {
  height: 465px;
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url(../images/vectorrr.png);
}
.party-container {
  display: flex;
  gap: 30.35px;
  justify-content: center;
  align-items: center;
  margin: 0 107px 0 98px;
  color: #ffffff;
}
.party-title {
  font-size: 50px;
  font-weight: 900;
  line-height: 68px;
  letter-spacing: 11%;
}
.party-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 23.25px;
  margin: 18.6px 0 37.2px;
}
.party-btn {
  font-size: 15.5px;
  font-weight: 700;
  line-height: 18.6px;
  text-transform: uppercase;
}
.pic2024 {
  width: 248px;
  height: 360px;
  margin: 52.8px 0 52px 0;
}