@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Merriweather-font {
  font-family: "Merriweather";
}
.Inter-font {
  font-family: "Inter";
}
:root {
  --ratio: calc(1200px / 1600px);
  --primary-color: rgb(255, 0, 0);
  --secondary-color: rgb(7, 2, 17);
}
.banner-container {
  width: 1023px;
  min-height: 465px;
  border-radius: 12.4px;
  /* margin: 39px 109px 93px; */
  margin: 39px auto 93px;
  background-image: linear-gradient(
      180deg,
      rgb(7, 2, 17),
      rgba(7, 2, 17, 0) 100%
    ),
    url(../images/banner_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content {
  height: 465px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-content .subtitle {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
}

.banner-content .title {
  color: #ffffff;
  font-size: 66px;
  font-weight: 900;
  line-height: 73.6px;
}
main section {
  width: 1056px;
  margin: 96px 112px;
}
